<nav>
    <a id="homepage" href="#">
        <img id="icone" src="../../imagens/icone-ludoskill-transparente.png" alt="icone do ludoskill">
        <img id="logo" src="../../imagens/logo-ludoskill.png" alt="logo do ludoskill">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </a>

    <ul id="navegacao">
        <li><a href="#">Gestores</a></li>
        <li><a href="#">Módulos</a></li>
        <li><a href="#">Loja</a></li>

        <li class="dropdown">
            <a class="botao brilho" href="#"><i class="bi bi-person-circle"></i> Perfil</a>

            <div class="dropdown-menu">
                <a href=""><i class="bi bi-door-open-fill"></i> Logout</a>
            </div>
        </li>
    </ul>
</nav>