.container{
    width: 80%;
}

#topo{
    display: flex;
    align-items: center;
}

#topo .botao{
    display: inline;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.card{
    width: 100%;
    margin-top: 20px;
}

.card-secundario{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

label, button{
    font-size: 17px;
}

button{
    width: 100px;
}

.formgroup label, .formgroup input, #descricao{
    width: 100%;
}

.formgroup select{
    display: block;
    width: 300px;
}

textarea{
    height: 200px;
    display: block;

    resize: none;
}
