h1{
    font-size: 25px;
}

section{
    margin-bottom: 20px;
}

#loja a{
    color: white;
}

.infobase{
    width: 100%;

    display: flex;
    justify-content: space-between;
    
}

.infobase .card{
    width: 350px;
    height: 100px;
    margin-top: 20px;
}

.progresso{
    display: flex;
    justify-content: space-between;
}

.progresso #fase{
    width: 750px;
}

.progresso #progresso{
    width: 400px;
}

h2, #fase h3, .inventario p{
    margin-bottom: 20px;
}

#fase .card-secundario{
    height: 200px;
    width: 100%;
}

#fase .botao{
    display: block;
    
    width: 200px;
    margin-top: 20px;
    
    text-align: center;
}

#inventario{
    list-style-type: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.inventario .card{
    width: 100%;
}
